@import './others/index';
@import './background/index';
@import './hero/_index.scss';
@import './five-quotes/_index.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

