@mixin boxshadow {
  box-shadow: 2px 0px 33px 4px rgba(255, 223, 1, 1);
  -webkit-box-shadow: 2px 0px 33px 4px rgba(255, 223, 1, 1);
  -moz-box-shadow: 2px 0px 33px 4px rgba(255, 223, 1, 1);
}

@mixin allimg {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}