@import "../others/utilities.scss";
@import "./hero-utilities.scss";

.hero {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //   hero left
  &__left {
    width: 45%;
    padding-left: $padding-left;
    margin-inline: 20px;
    &__title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .search-bar {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      color: black;
    }
  }
  //   hero right
  &__right {
    width: 30vw;
    background-color: none;
    flex-direction: column;
    padding-right: $padding-right;
    margin-right: 80px;
    margin-top: 90px;
    @include flexcenter();
    img {
        border-radius: 10px;
        object-fit: cover;
        @include allimg;
        @include boxshadow;
    }
    .overlay-text {
      width: auto;
      position: relative;
      background-color: #000000;
      color: #fff;
      top: -70px;
      padding: 10px 20px;
      font-size: 20px;
      text-align: center;
    }
  }
}
