@import "../others/utilities.scss";
@import "./hero-utilities.scss";

.hero {
  height: var(--viewHeight);
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //   hero left
  &__left {
    width: var(--viewWidth);
    padding-left: $padding-left;
    margin-inline: 20px;
    // .search-bar {
    //   width: 80%;
    //   font-size: 2em;
    //   color: white;
    //   background-color: transparent;
    //   border: none;
    //   outline: none;
    // }
  }
  &__title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 1.5em;
    font-weight: bold;
    text-align: center;
    color: black;
    -webkit-text-stroke: 0.3px burlywood;
    // margin-bottom: 20px;
  }
  //   hero right
  &__right {
    width: var(--widthPercent);
    height: var(--viewHeight);
    flex-direction: row;
    @include flexcenter();
    img {
      width: 60vw;
      height: var(--viewHeight);
      object-fit: cover;
      box-shadow: 0 0 50px 50px white inset;
    }
  }
}
