@import "../others/utilities.scss";
@import "./hero-utilities.scss";

.hero {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  //   hero left
  &__left {
    width: 45%;
    padding-left: $padding-left;
    margin-inline: 20px;
    .search-bar {
      width: 80%;
      font-size: 2em;
      color: white;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
  &__title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  //   hero right
  &__right {
    width: 25vw;
    background-color: none;
    flex-direction: column;
    padding-right: $padding-right;
    margin-right: 40px;
    margin-top: 90px;
    @include flexcenter();
    img {
      border-radius: 10px;
      object-fit: cover;
      @include allimg;
      @include boxshadow;
    }
  }
}
