@import "./global-back.scss";

#hero {
  .background {
    background-image: url(../assets/images/giphy.gif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    @include hundredscreen;
    &__opacity {
      background-color: hsla(0, 0%, 0%, 0.6);
      @include hundredscreen;
    }
  }
}
